
body{
  background: #4900A9!important;
}

/* ============================================== */
/* PRELOADER */
/* ============================================== */

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.preloader::after{
  content: "";
  width: 100px;
  height: 100px;
  margin:-50px 0 0 -50px;
  top: 50%;
  left: 50%;
  display: block;
  z-index: 9;
  position: absolute;
  background: url("./../../images/logo/preloader_logo.svg") no-repeat 50% 50%/contain;
}

/* ============================================== */
/* PAGE SIZE */
/* ============================================== */

#page-content{  min-height: 100vh;  }

/* ============================================== */
/* HEIGHT SIZE */
/* ============================================== */

.h-100vh{  height: 100vh;  }
.h-50vh{  height: 50vh;  }

/* ============================================== */
/* RELATIVE */
/* ============================================== */

.rel{  position: relative;  }

/* ============================================== */
/* TITLES */
/* ============================================== */

.h1{  font-size: var(--fs-h1);  }
.h2{  font-size: var(--fs-h2);  }
.h3{  font-size: var(--fs-h3);  }
.h4{  font-size: var(--fs-h4);  }
.h5{  font-size: var(--fs-h5);  }

.h1,.h2,.h3,.h4{  line-height: var(--line-h-b);  }
.h5{  line-height: var(--line-h-m);  }

/* ============================================== */
/* GRID */
/* ============================================== */

.grid{
  --grid-gap: 20px;
  width: 100%;
  display: block;
  display: grid;
  gap: var(--grid-gap);
  margin-bottom: var(--grid-gap);
}

.grid.g-30{
  --grid-gap: 30px;
}
.grid.g-40{
  --grid-gap: 40px;
}
.grid.g-50{
  --grid-gap: 50px;
}
.grid.g-60{
  --grid-gap: 60px;
}

.col-1 {  grid-template-columns: repeat(1,1fr);  }
.col-2 {  grid-template-columns: repeat(2,1fr);  }
.col-3 {  grid-template-columns: repeat(3,1fr);  }
.col-4 {  grid-template-columns: repeat(4,1fr);  }
.col-5 {  grid-template-columns: repeat(5,1fr);  }
.col-6 {  grid-template-columns: repeat(6,1fr);  }
.col-7 {  grid-template-columns: repeat(7,1fr);  }
.col-8 {  grid-template-columns: repeat(8,1fr);  }
.col-9 {  grid-template-columns: repeat(9,1fr);  }
.col-10 {  grid-template-columns: repeat(10,1fr);  }
.col-11 {  grid-template-columns: repeat(11,1fr);  }
.col-12 {  grid-template-columns: repeat(12,1fr);  }

.span-1 {  grid-column: span 1;  }
.span-2 {  grid-column: span 2;  }
.span-3 {  grid-column: span 3;  }
.span-4 {  grid-column: span 4;  }
.span-5 {  grid-column: span 5;  }
.span-6 {  grid-column: span 6;  }
.span-7 {  grid-column: span 7;  }
.span-8 {  grid-column: span 8;  }
.span-9 {  grid-column: span 9;  }
.span-10 {  grid-column: span 10;  }
.span-11 {  grid-column: span 11;  }
.span-12 {  grid-column: span 12;  }

@media screen and (max-width: 1080px){
  .med-col-1 {  grid-template-columns: repeat(1,1fr);  }
  .med-col-2 {  grid-template-columns: repeat(2,1fr);  }
  .med-col-3 {  grid-template-columns: repeat(3,1fr);  }
  .med-col-4 {  grid-template-columns: repeat(4,1fr);  }
  .med-col-5 {  grid-template-columns: repeat(5,1fr);  }
  .med-col-6 {  grid-template-columns: repeat(6,1fr);  }
  .med-col-7 {  grid-template-columns: repeat(7,1fr);  }
  .med-col-8 {  grid-template-columns: repeat(8,1fr);  }
  .med-col-9 {  grid-template-columns: repeat(9,1fr);  }
  .med-col-10 {  grid-template-columns: repeat(10,1fr);  }
  .med-col-11 {  grid-template-columns: repeat(11,1fr);  }
  .med-col-12 {  grid-template-columns: repeat(12,1fr);  }

  .med-span-1 {  grid-column: span 1;  }
  .med-span-2 {  grid-column: span 2;  }
  .med-span-3 {  grid-column: span 3;  }
  .med-span-4 {  grid-column: span 4;  }
  .med-span-5 {  grid-column: span 5;  }
  .med-span-6 {  grid-column: span 6;  }
  .med-span-7 {  grid-column: span 7;  }
  .med-span-8 {  grid-column: span 8;  }
  .med-span-9 {  grid-column: span 9;  }
  .med-span-10 {  grid-column: span 10;  }
  .med-span-11 {  grid-column: span 11;  }
  .med-span-12 {  grid-column: span 12;  }
}

@media screen and (max-width: 768px){
  .small-col-1 {  grid-template-columns: repeat(1,1fr);  }
  .small-col-2 {  grid-template-columns: repeat(2,1fr);  }
  .small-col-3 {  grid-template-columns: repeat(3,1fr);  }
  .small-col-4 {  grid-template-columns: repeat(4,1fr);  }
  .small-col-5 {  grid-template-columns: repeat(5,1fr);  }
  .small-col-6 {  grid-template-columns: repeat(6,1fr);  }
  .small-col-7 {  grid-template-columns: repeat(7,1fr);  }
  .small-col-8 {  grid-template-columns: repeat(8,1fr);  }
  .small-col-9 {  grid-template-columns: repeat(9,1fr);  }
  .small-col-10 {  grid-template-columns: repeat(10,1fr);  }
  .small-col-11 {  grid-template-columns: repeat(11,1fr);  }
  .small-col-12 {  grid-template-columns: repeat(12,1fr);  }

  .small-span-1 {  grid-column: span 1;  }

  .grid.g-30,
  .grid.g-40,
  .grid.g-50,
  .grid.g-60{
    --grid-gap: 20px;
  }

}

/* ============================================== */
/* WIDTHS */
/* ============================================== */

.w-10{  width: 10%;  }
.w-20{  width: 20%;  }
.w-30{  width: 30%;  }
.w-40{  width: 40%;  }
.w-50{  width: 50%;  }
.w-60{  width: 60%;  }
.w-70{  width: 70%;  }
.w-80{  width: 80%;  }
.w-90{  width: 90%;  }
.w-100{  width: 100%;  }

@media only screen and (max-width: 1080px){
  .med-w-10{  width: 10%;  }
  .med-w-20{  width: 20%;  }
  .med-w-30{  width: 30%;  }
  .med-w-40{  width: 40%;  }
  .med-w-50{  width: 50%;  }
  .med-w-60{  width: 60%;  }
  .med-w-70{  width: 70%;  }
  .med-w-80{  width: 80%;  }
  .med-w-90{  width: 90%;  }
  .med-w-100{  width: 100%;  }
}

@media only screen and (max-width: 768px){
  .small-w-10{  width: 10%;  }
  .small-w-20{  width: 20%;  }
  .small-w-30{  width: 30%;  }
  .small-w-40{  width: 40%;  }
  .small-w-50{  width: 50%;  }
  .small-w-60{  width: 60%;  }
  .small-w-70{  width: 70%;  }
  .small-w-80{  width: 80%;  }
  .small-w-90{  width: 90%;  }
  .small-w-100{  width: 100%;  }
}

/* ============================================== */
/* FLEX */
/* ============================================== */

.d-flex    {  display: flex;  }
.fw-wrap   {  flex-wrap: wrap;  }
.fd-column {  flex-direction: column;  }

.ai-center {  align-items: center;  }
.ai-end    {  align-items: flex-end;  }
.ai-start  {  align-items: flex-start;  }
.ai-stretch{  align-items: stretch;  }

.jc-center {  justify-content: center;  }
.jc-between{  justify-content: space-between;  }
.jc-evenly {  justify-content: space-evenly;  }
.jc-end    {  justify-content: flex-end;  }

@media only screen and (max-width: 1080px){
  .med-fd-column {  flex-direction: column;  }
  .med-fw-wrap{  flex-wrap: wrap;  }

  .med-ai-center {  align-items: center;  }
  .med-ai-end    {  align-items: flex-end;  }
  .med-ai-start  {  align-items: flex-start;  }
  .med-ai-stretch{  align-items: stretch;  }

  .med-jc-center {  justify-content: center;  }
  .med-jc-between{  justify-content: space-between;  }
  .med-jc-evenly {  justify-content: space-evenly;  }
  .med-jc-start    {  justify-content: flex-start;  }
  .med-jc-end    {  justify-content: flex-end;  }
}

@media only screen and (max-width: 768px){
  .small-fd-column {  flex-direction: column;  }
  .small-fw-wrap{  flex-wrap: wrap;  }

  .small-ai-center {  align-items: center;  }
  .small-ai-end    {  align-items: flex-end;  }
  .small-ai-start  {  align-items: flex-start;  }
  .small-ai-stretch{  align-items: stretch;  }

  .small-jc-center {  justify-content: center;  }
  .small-jc-between{  justify-content: space-between;  }
  .small-jc-evenly {  justify-content: space-evenly;  }
  .small-jc-start    {  justify-content: flex-start;  }
  .small-jc-end    {  justify-content: flex-end;  }
}

/* ============================================== */
/* CONTENTS */
/* ============================================== */

.content{
  margin:0 auto;
  position: relative;
  padding: 0;
  width:100%;
}

.content{max-width:var(--content-d);}
.content.center{max-width:var(--content-l);}

@media screen and (max-width: 1440px){
  .content{
    max-width:1080px;
  }
}

@media screen and (max-width: 1080px){
  .content{width:100%;}
}

/* ============================================== */
/* BLOCKS */
/* ============================================== */

.block{
  display: block;
  padding:80px 0;
  width: 100%;
}

@media screen and (max-width: 768px){
  .block{padding:40px 0;}
}

.block-box,
.block-box-bg,
.block-content{
  margin: 0 auto;
}

/* ============================================== */
/* BLOCKS-CONTENT */
/* ============================================== */

.block-content{
  display: block;
  max-width:var(--content-d);
  padding:80px 30px;
  width: 100%;
}

.block-content.big{
  padding:120px 30px;
}

.block-content.center{
  max-width:var(--content-l);
}

.block-content.top{
  padding: 80px 30px 30px 30px;
}
.block-content.bottom{
  padding: 30px 30px 80px 30px;
}

.block-content.big.top{
  padding: 150px 30px 30px 30px;
}
.block-content.big.bottom{
  padding: 30px 30px 150px 30px;
}


@media screen and (max-width: 1440px){
  .block-content{
    padding:60px 30px;
    max-width:var(--content-l);
  }
}

@media screen and (max-width: 768px){
  .block-content{padding:20px 30px;}

  .block-content.top{padding:30px 30px 20px;}
  .block-content.bottom{padding:20px 30px 30px;}

  .block-content.big{padding:40px 30px;}
  .block-content.big.top{padding:40px 30px 20px;}
  .block-content.big.bottom{padding:20px 30px 40px;}
}


/* ============================================== */
/* GRID-TEXT */
/* ============================================== */

.grid-text{
  width: 100%;
  display: block;

  column-gap: 60px;
}

.grid-text--p{
  margin: 0;
}

.grid-text.col-2{
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.grid-text.col-3{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

@media screen and (max-width: 768px){
  .grid-text.col-2,
  .grid-text.col-3{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    column-gap: 0;
  }
}

/* ============================================== */
/* BLOCK-BOX-ALTERNATE */
/* ============================================== */

.block-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0;
}

.block-box.right,
.block-box.alternate:nth-child(odd){
  flex-direction: row-reverse;
}

.block-box .wrapper{
  padding:0 0 0 80px;
}

.block-box.right .wrapper,
.alternate:nth-child(odd) .wrapper{
  padding:0 80px 0 0;
}

.block-box .wrapper, .block-box--img{
  width: 50%;
}

@media screen and (max-width: 1440px){
  .block-box{
    padding: 30px 0;
  }
}

@media screen and (max-width: 1080px){
  .block-box .wrapper{
    padding:0 0 0 60px;
  }

  .block-box.right .wrapper,
  .alternate:nth-child(odd) .wrapper{
    padding:0 60px 0 0;
  }
}

@media screen and (max-width: 768px){
  .block-box{
    padding: 0;
  }
  .block-box.alternate:nth-child(odd){
    flex-direction: none;
  }
  .block-box .wrapper{
    margin: 10px 0 20px 0;
  }

  .block-box .wrapper,
  .block-box--img,
  .block-box.right .wrapper,
  .alternate:nth-child(odd) .wrapper{
    padding: 0;
    width: 100%;
  }
}

/* ============================================== */
/* BLOCK-BOX-BG */
/* ============================================== */

.block-box-bg{
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.block-box-bg .wrapper{
  max-width: var(--content-d);
  margin: 0 auto;
  z-index: 9;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.block-box-bg.module .wrapper{
  height: 80vh;
}

.block-box-bg.hero .wrapper{
  height: 80vh;
}

@media screen and (max-width: 768px){
  .block-box-bg.module .wrapper,
  .block-box-bg.module .block-box-full--img{
    height: auto;
    display: block;
    position: relative;
  }

  .block-box-bg.module .bg-overlay{
    display: none;
  }

  .block-box-bg.hero .wrapper{
    height: 80vh;
    display: flex;
  }
}

/* ============================================== */
/* BLOCK-BOX-FULL-IMG */
/* ============================================== */

.block-box-full--img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================== */
/* BLOCK-BOX-HALF */
/* ============================================== */

.block-box-half{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.block-box-half--img-wrap{
  height: 40vh;
  max-width: 50%;
  width: 100%;
}

.block-box-half--img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-box-half--text{
  max-width: 690px;
  width: 100%;
}

.left .block-box-half--text{padding: 0 90px 0 0;}
.right .block-box-half--text{padding: 0 0 0 90px;}

.block-box-half.left {flex-direction: row-reverse;}

@media screen and (max-width: 1440px){
  .left .block-box-half--text{padding: 0 90px 0 30px;}
  .right .block-box-half--text{padding: 0 30px 0 90px;}
}

@media screen and (max-width: 1080px){
  .block-box-half--img-wrap{
    height: auto;
  }
  .block-box-half--img-wrap,
  .block-box-half--text{
    max-width: 100%;
  }

  .block-box-half {
    display: block;
    flex-direction: none;
    align-items: none;
  }

  .left .block-box-half--text,
  .right .block-box-half--text{
    padding: 20px 30px;
  }
}

/* ============================================== */
/* MENU-LIST */
/* ============================================== */

.menu-list{
  width: 100%;
  margin: 10px 0;
  display: block;
}

.menu-list--ul {
  margin: 0;
  padding: 0;
  width: 100%;
  row-gap: 1px;
}

.menu-list--item{
  position: relative;
  margin: 0;
  padding: 5px 10px;
  display: block;
  width: 100%;
}

.menu-list--item:hover{
  cursor: default;
}

.link .menu-list--item{
  padding: 0;
}

.link .menu-list--link{
  width: 100%;
  padding: 5px 10px;
  display: block;
}

.link .menu-list--link:hover {
  opacity: 0.8;
}

.menu-list--link.icon{
  padding-left: 35px;
}

.item:not(.link) .menu-list--item,
.item .menu-list--link{
  position: relative;
  padding: 5px 10px 5px 30px;
}

.item:not(.link) .menu-list--item::before,
.item .menu-list--link::before{
  width: 20px;
  height: 20px;
  left: 0px;
  top:8px;
  display: block;
  position: absolute;
  content: url("./../../images/icons/body/icon_check.svg");
}

.menu-list--item .icon::after{
  top: 5px;
  left: 0;
}

/* ============================================== */
/* BTN */
/* ============================================== */

.btn{
  display: inline-block;
  position: relative;
  margin: 20px 0 0;
  text-align: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding:15px 35px;

  -webkit-border-radius: var(--btn-bdr);
  -moz-border-radius:    var(--btn-bdr);
  -ms-border-radius:     var(--btn-bdr);
  border-radius:         var(--btn-bdr);

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease;

}

.btn:hover{  background: var(--color-grey);  }

.btn.outline{
  padding:13px 35px;
  border: 2px solid var(--color-black);
}

.btn.big{
  padding:15px 40px;
  font-size: var(--fs-h5);
}

.btn.big.outline{
  padding:13px 35px;
}

.btn.small{
  padding:12px 25px;
  font-size: 14px;
}

.btn.small.outline{
  padding:10px 23px;
}

.btn.link{
  padding:8px 0;
}

.btn.link::after{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-black);
}

.btn.outline,
.btn.link{
  background: transparent;
}

.btn.icon{
  padding: 15px 25px 15px 55px;
}
.btn.big.icon{
  padding: 15px 30px 15px 70px;
}

.btn.icon::after{
  top: 16px;
  left: 22px;
}

.btn.big.icon::after{
  height: 30px;
  width: 30px;
  top: 16px;
  left: 30px;
}


@media screen and (max-width: 1440px){
  .btn.icon::after{
    top: 14px;
  }
  .btn.big.icon::after{
    top: 13px;
  }
}

@media screen and (max-width: 768px){
  .btn{
    padding:12px 25px;
    font-size: 14px;
  }
  .btn.outline{
    padding:10px 25px;
  }

  .btn.icon{
    padding: 12px 25px 12px 55px !important;
  }
  .btn.icon::after{
    top: 10px;
  }
  .btn.big.icon::after{
    top: 8px;
    left: 20px;
  }
}

/* ============================================== */
/* BORDER-RADIUS */
/* ============================================== */

.br-2{
  --bdr-two: 2px;
  -webkit-border-radius: var(--bdr-two);
  -moz-border-radius:    var(--bdr-two);
  -ms-border-radius:     var(--bdr-two);
  border-radius:         var(--bdr-two);
}
.br-5{
  --bdr-five: 5px;
  -webkit-border-radius: var(--bdr-five);
  -moz-border-radius:    var(--bdr-five);
  -ms-border-radius:     var(--bdr-five);
  border-radius:         var(--bdr-five);
}
.br-10{
  --bdr-ten: 10px;
  -webkit-border-radius: var(--bdr-ten);
  -moz-border-radius:    var(--bdr-ten);
  -ms-border-radius:     var(--bdr-ten);
  border-radius:         var(--bdr-ten);
}
.br-20{
  --bdr-twenty: 20px;
  -webkit-border-radius: var(--bdr-twenty);
  -moz-border-radius:    var(--bdr-twenty);
  -ms-border-radius:     var(--bdr-twenty);
  border-radius:         var(--bdr-twenty);
}
.br-30{
  --bdr-thirty: 30px;
  -webkit-border-radius: var(--bdr-thirty);
  -moz-border-radius:    var(--bdr-thirty);
  -ms-border-radius:     var(--bdr-thirty);
  border-radius:         var(--bdr-thirty);
}

/* ============================================== */
/* BTNS */
/* ============================================== */

.btns:not(.full-m) .btn:first-child{
  margin-left: 0;
}

@media screen and (max-width: 1080px){
  .btns.med-btns-0x .btn.m-5:first-child{
    margin-left: 5px;
  }
  .btns.med-btns-0x .btn.m-10:first-child{
    margin-left: 10px;
  }
  .btns.med-btns-0x .btn.m-20:first-child{
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px){
  .btns.small-btns-0x .btn.m-5:first-child{
    margin-left: 5px;
  }
  .btns.small-btns-0x .btn.m-10:first-child{
    margin-left: 10px;
  }
  .btns.small-btns-0x .btn.m-20:first-child{
    margin-left: 20px;
  }
}

/* ============================================== */
/* COLORS */
/* ============================================== */

.c-dark  {  background: var(--color-dark);   }
.c-black {  background: var(--color-black);  }
.c-grey  {  background: var(--color-grey);   }
.c-silver{  background: var(--color-silver); }

.c-soft  {  background: var(--color-soft);   }
.c-light {  background: var(--color-light);  }
.c-white {  background: white;  }

/* ============================================== */
/* TEXT-ALIGN */
/* ============================================== */

.t-left{  text-align: left;  }
.t-center{  text-align: center;  }
.t-right{  text-align: right;  }

@media only screen and (max-width: 1080px){
  .med-t-left{  text-align: left;  }
  .med-t-center{  text-align: center;  }
  .med-t-right{  text-align: right;  }
}

@media only screen and (max-width: 768px){
  .small-t-left{  text-align: left;  }
  .small-t-center{  text-align: center;  }
  .small-t-right{  text-align: right;  }
}

/* ============================================== */
/* TEXT-COLOR */
/* ============================================== */

.tc-dark  {  color: var(--color-dark);   }
.tc-black {  color: var(--color-black);  }
.tc-grey  {  color: var(--color-grey);   }
.tc-silver{  color: var(--color-silver); }

.tc-soft  {  color: var(--color-soft);   }
.tc-light {  color: var(--color-light);  }
.tc-white {  color: white;  }

@media only screen and (max-width: 1080px){
  .med-tc-dark  {  color: var(--color-dark);   }
  .med-tc-black {  color: var(--color-black);  }
  .med-tc-grey  {  color: var(--color-grey);   }
  .med-tc-silver{  color: var(--color-silver); }

  .med-tc-soft  {  color: var(--color-soft);   }
  .med-tc-light {  color: var(--color-light);  }
  .med-tc-white {  color: white;  }
}

@media only screen and (max-width: 768px){
  .small-tc-dark  {  color: var(--color-dark);   }
  .small-tc-black {  color: var(--color-black);  }
  .small-tc-grey  {  color: var(--color-grey);   }
  .small-tc-silver{  color: var(--color-silver); }

  .small-tc-soft  {  color: var(--color-soft);   }
  .small-tc-light {  color: var(--color-light);  }
  .small-tc-white {  color: white;  }
}

/* ============================================== */
/* BG-OVERLAY */
/* ============================================== */

.bg-overlay{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  z-index:2;
}

.bg-overlay.hard{  background-color: rgba(0, 0, 0, 0.9);  }
.bg-overlay.soft{  background-color: rgba(0, 0, 0, 0.5);  }

/* ============================================== */
/* ICON */
/* ============================================== */

.icon{
  position: relative;
}

.icon.dappradar:after  {  content: url("./../../images/icons/social/dappradar.svg");  }
.icon.facebook::after  {  content: url("./../../images/icons/social/facebook.svg");  }
.icon.twitter::after   {  content: url("./../../images/icons/social/twitter.svg");  }
.icon.instagram::after {  content: url("./../../images/icons/social/instagram.svg");  }
.icon.youtube::after   {  content: url("./../../images/icons/social/youtube.svg");  }
.icon.linkedin::after  {  content: url("./../../images/icons/social/linkedin.svg");  }
.icon.zoom::after      {  content: url("./../../images/icons/social/zoom.svg");  }
.icon.whatsapp::after  {  content: url("./../../images/icons/social/whatsapp.svg");  }
/*.icon.tik-tok::after  {  content: url("./../../images/icons/social/tik-tok.svg");  }*/
/* .icon.reddit::after  {  content: url("./../../images/icons/social/reddit.svg");  } */

.icon.phone::after     {  content: url("./../../images/icons/body/phone.svg");  }
.icon.language::after  {  content: url("./../../images/icons/body/language.svg");  }
.icon.location::after  {  content: url("./../../images/icons/body/location.svg");  }
.icon.email::after     {  content: url("./../../images/icons/body/email.svg");  }
.icon.download::after  {  content: url("./../../images/icons/body/download.svg");  }

.icon::after{
  position: absolute;
  margin: 0;
  height: 25px;
  width: 25px;
}

.icon.dappradar.i-color {  background-color: #d3d0d0;  }
.icon.facebook.i-color {  background-color: #2d609b;  }
.icon.twitter.i-color  {  background-color: #00c3f3;  }
.icon.instagram.i-color{  background-color: #df0042;  }
.icon.youtube.i-color  {  background-color: #ff0000;  }
.icon.linkedin.i-color {  background-color: #2F7CB8;  }
.icon.zoom.i-color     {  background-color: #3B9BFF;  }
.icon.whatsapp.i-color {  background-color: #5BBE54;  }
.icon.tik-tok.i-color  {  background-color: #000000;  }
.icon.reddit.i-color   {  background-color: #F12B00;  }


/* ============================================== */
/* SOCIAL */
/* ============================================== */

.social-media .icon{
  display: block;
  opacity: 1;
  height: 45px;
  width: 45px;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.social-media .icon::after{
  top: 10px;
  left: 10px;
}

.social-media .icon:hover{
  opacity: 0.8;
  cursor: pointer;
}

/* ============================================== */
/* TEASER */
/* ============================================== */

.teaser{
  padding: 30px 0;
}

.img .teaser--img{
  max-width: 100%;
  margin-bottom: 20px;
}

.teaser--img{
  max-width: 100px;
  margin-bottom: 20px;
}

.i-center .teaser--img{
  margin: 0 auto 20px auto;
}

.i-left .teaser--wrap{
  position: relative;
  padding: 0 0 0 90px;
}

.i-left .teaser--img{
  position: absolute;
  top:15px;
  left: 0;
  max-width: 70px;
}

@media screen and (max-width: 768px){
  .i-left .teaser--wrap{
    padding: 0 0 0 50px;
  }

  .i-left .teaser--img{
    top:15px;
    max-width: 40px;
  }
}

/* ============================================== */
/* FORM */
/* ============================================== */

.input,
.textarea,
.select{
  padding: 15px 20px;
  width: 100%;
  min-height: 55px;
  display: block;
  overflow: hidden;
  text-align: left;
  border: 1px solid var(--color-pearl);
  font-size: 1rem;

  transition-property: border-color, box-shadow;
  -webkit-transition:250ms ease;
  -moz-transition:   250ms ease;
  -ms-transition:    250ms ease;
  transition:        250ms ease;

  -webkit-border-radius: var(--bdr-two);
  -moz-border-radius:    var(--bdr-two);
  -ms-border-radius:     var(--bdr-two);
  border-radius:         var(--bdr-two);

  --shadow:  0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow:    var(--shadow);
  -o-box-shadow:      var(--shadow);
  box-shadow:         var(--shadow);

}

.textarea{
  min-height: 80px;
  resize: none;
}

.input:focus,
.textarea:focus{
  --shadow:  0 5px 20px rgba(0,0,0,0.1);
}

.input:focus-visible,
.textarea:focus-visible{
  outline: none;
}

.form-submit{  margin-top: 0;  }
.form-submit:not(.outline){
  border: none;
  border-radius: var(--bdr-two);
}

/* ============================================== */
/* FONTS */
/* ============================================== */

/* @font-face {
  font-family: 'GraphikRegular';
  font-style: normal;
  font-weight: normal;
  src: local('GraphikRegular'), url('./../../fonts/GraphikRegular.woff') format('woff');
}

@font-face {
  font-family: 'Graphik-Semibold';
  font-style: normal;
  font-weight: normal;
  src: local('Graphik-Semibold'), url('./../../fonts/Graphik-Semibold.woff') format('woff');
}
 */
/* ============================================== */
/* FOOTER-AUTOR */
/* ============================================== */

.footer-autor{
  width: 100%;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  overflow: hidden;
}

.footer-autor--p{
  font-size: 12px;
}

.footer-autor--p:last-child{
  text-align: right;
}

.footer-autor .autor{
  position: relative;
  margin-left: 20px;
}

.footer-autor .autor::after {
  width: 15px;
  height: 15px;
  position: absolute;
  top:0px;
  right:0;
  content: url("./../../images/logo/logo_icon_autor.svg");
}

@media screen and (max-width: 768px){
  .footer-autor{
    display: block;
    justify-content: none;
    padding: 10px 30px;
  }

  .footer-autor--p:last-child,
  .footer-autor--p{
    text-align: center;
    margin: 0;
  }
}

/* ============================================== */
/* MARGIN & PADDING */
/* ============================================== */

.m-5  {  margin: 5px;  }
.m-10 {  margin: 10px;  }
.m-20 {  margin: 20px;  }
.m-0x{
  margin-right: 0;
  margin-left: 0;
}
.m-center{
  margin-right: auto;
  margin-left: auto;
}

.p-5  {  padding: 5px;  }
.p-10 {  padding: 10px;  }
.p-20 {  padding: 20px;  }

.p-5-10  {  padding: 5px 10px;  }
.p-10-20 {  padding: 10px 20px;  }
.p-20-30 {  padding: 20px 30px;  }
.p-5-0   {  padding: 5px 0;  }
.p-10-0  {  padding: 10px 0;  }
.p-20-0  {  padding: 20px 0;  }
.p-0-30  {  padding: 0 30px;  }
.p-0x{
  padding-right: 0;
  padding-left: 0;
}