@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600;700&family=Roboto:wght@400;700&display=swap");

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
   }

   .d-none{
       display: none;
   }

   .absolute{
       position: absolute!important;
   }